@font-face {
  font-family: Roboto, sans-serif; // семейство
  src: url("./../fonts/Roboto-Regular.woff2") format(woff2);
  font-weight: 400; // насыщенность
  font-style: normal; // стиль
  font-stretch: normal; // плотность растяжение
}
@font-face {
  font-family: 'Roboto Condensed', sans-serif; // семейство
  src: url("./../fonts/RobotoCondensed-Regular.woff2") format(woff2);
  font-weight: 400; // насыщенность
  font-style: normal; // стиль
  font-stretch: normal; // плотность растяжение
}

